<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-twipsy.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-popover.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.js"></script>
        <script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript" src="http://avtoyamba.com/js/jquery.validate.min.js"></script>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
            html, body {
                background-color: #eee;
            }

            body {
                padding-top: 20px; /* to make the container go all the way to the bottom of the topbar */
            }

            .container {
                width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
            }

            /* Page header tweaks */
            .page-header {
                background-color: #f5f5f5;
                padding: 20px 20px 10px;
                margin: -20px -20px 20px;
            }

            .content {
                background-color: #fff;
                padding: 20px;
                margin: 40px -20px; /* negative indent the amount of the padding to maintain the grid system */
                -webkit-border-radius: 0 0 6px 6px;
                -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
            }

            .top-fill {
                background-color: #999;
                background-color: #999999;
                background-repeat: repeat-x;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));


                background-color: #333;
                background-color: #333333;
                background-repeat: repeat-x;
                background-image: -khtml-gradient(linear, left top, left bottom, from(#555555), to(#333333));
                background-image: -moz-linear-gradient(top, #555555, #333333);
                background-image: -ms-linear-gradient(top, #555555, #333333);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
                background-image: -webkit-linear-gradient(top, #555555, #333333);
                background-image: -o-linear-gradient(top, #555555, #333333);
                background-image: linear-gradient(top, #555555, #333333);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            }

            .number_25 {
                padding-left: 8px;
            }

            .number_25 .region {
                margin-left: 8px;
                overflow: hidden;
                float: left;
            }

            .number_25 .num {
                float: left;
                position: relative;
                top: 3px;
            }

            .number_25 .chr {
                top: 8px;
            }

            .number_25 .reg {
                float: left;
                position: relative;
                top: 2px;
            }

            .number_50 {
                padding-left: 17px;
            }

            .number_50 .region {
                margin: 2px 0 0 13px;
                overflow: hidden;
                float: left;
            }

            .number_50 .num {
                float: left;
                position: relative;
                top: 3px;
            }

            .number_50 .chr {
                top: 8px;
            }

            .number_50 .reg {
                float: left;
                position: relative;
                top: 2px;
            }

            .hr-norm {
                margin: 20px 0 0 19px
            }

            .message {
                display: block;
                overflow: hidden; 
                border-bottom: 1px solid #e0e0e0; 
                padding: 10px 0 10px 0;
            }

            .message:hover {
                background: #f0f0f0; 
            }
        </style>
    </head>
    <body>

        <div id="write-modal" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Написать сообщение</h3>
            </div>
            <div class="modal-body">
                <form method="post" {{ form_enctype(form) }} novalidate="novalidate" class="form-stacked">
                    
                    <fieldset>
                        <div class="clearfix">
                            {{ form_label(form.user_name, 'Ваш ник:') }}
                            <div class="input">
                                {{ form_widget(form.user_name) }}
                            </div>
                        </div>
                        <div class="clearfix">
                            {{ form_label(form.text, 'Текст:') }}
                            <div class="input">
                                {{ form_widget(form.text) }}
                            </div>
                        </div>
                    </fieldset>

                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn primary">Написать</a>
            </div>
        </div>

        <div class="topbar">
            <div class="top-fill">
                <div class="container" style="height: 42px">
                    <div style='float: left; width: 490px;'>
                        <a style='overflow: hidden; display: block;' href="{{ url('homepage') }}"><img src="http://avtoyamba.com/images/logo.png" /></a>
                    </div>

                    <form method="post" action="{{ path('search_number') }}" id="go-number" data-original-title="Введите свой здесь номер автомобиля и нажмите Перейти">
                        <input type="text" name="number" value="{% if number is not defined %}а101аа199{% else %}{{ number }}{% endif %}"> 
                        <input type="submit" value="Перейти">
                    </form>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script>
            $(function () {
                $("a[rel=twipsy]").twipsy({
                    live: true
                })
            })

            $(function () {
                $("a[rel=popover]")
                    .popover({
                        offset: 10
                    })
                    .click(function(e) {
                        e.preventDefault()
                    })
            })
        </script>
    </body>
</html>
