<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

		{% stylesheets
			'@AYGeneralBundle/Resources/public/css/*' 
		%}
        <link rel="stylesheet" href="{{asset_url}}">
		{% endstylesheets %}

		{% javascripts 
			'@AYGeneralBundle/Resources/public/js/jquery.min.js' 
			'@AYGeneralBundle/Resources/public/js/bootstrap/bootstrap-twipsy.js'
			'@AYGeneralBundle/Resources/public/js/*'
			'@AYGeneralBundle/Resources/public/js/bootstrap/*'
		%}
		<script type="text/javascript" src="{{asset_url}}"></script>
		{% endjavascripts %}
				
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div id="write-modal" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Написать сообщение</h3>
            </div>
            <div class="modal-body">
                <form action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="form-stacked">
                    
                    <fieldset>
                        <div class="clearfix">
                            {{ form_label(form.user_name, 'Ваш ник:') }}
                            <div class="input">
                                {{ form_widget(form.user_name) }}
                            </div>
                        </div>
                        <div class="clearfix">
                            {{ form_label(form.text, 'Номер:') }}
                            <div class="input">
                                {{ form_widget(form.number) }}
                            </div>
                        </div>
                        <div class="clearfix">
                            {{ form_label(form.text, 'Фоточка:') }}
                            <div class="input">
                                {{ form_widget(form.image_upload) }}
                            </div>
                        </div>
                        <div class="clearfix">
                            {{ form_label(form.text, 'Текст:') }}
                            <div class="input">
                                {{ form_widget(form.text) }}
                            </div>
                        </div>
                    </fieldset>
                    {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn primary" value="Написать!" />
            </div>
            </form>
        </div>

        <div class="topbar">
            <div class="top-fill">
                <div class="container" style="height: 42px">
                    <div style='float: left; width: 490px;'>
                        <a style='overflow: hidden; display: block;' href="{{ url('homepage') }}"><img src="http://avtoyamba.com/images/logo.png" /></a>
                    </div>

                    <form method="post" action="{{ path('search_number') }}" id="go-number" data-original-title="Введите свой здесь номер автомобиля и нажмите Перейти">
                        <input type="text" name="number" value="{% if number is not defined %}а101аа199{% else %}{{ number }}{% endif %}"> 
                        <input type="submit" value="Перейти">
                    </form>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script>
            $(function () {
                $("a[rel=twipsy]").twipsy({
                    live: true
                })
            })

            $(function () {
                $("a[rel=popover]")
                    .popover({
                        offset: 10
                    })
                    .click(function(e) {
                        e.preventDefault()
                    })
            })
        </script>
    </body>
</html>
