<div class="stream-item">
	<div class="stream-item-header">
		<strong class="user-name stream-item-author">
			{{ message.getUserName() }}
		</strong>
		<small class="date stream-item-time">
			{{ message.getCreatedAt('date') }}
		</small>
	</div>
	
	<p class="stream-item-text">
		{{ message.getText() }}
	</p>

	{% if message.getImageThumb() %}
	<div class="stream-item-media">
           	<ul class="media-grid">
	             <li>
	                 <a target="_blank" href="{{ message.getImage() }}:large">
	                     <img src="{{ message.getImage() }}:small" />
	                 </a>
	             </li>
	         </ul>
	</div>
	{% endif %}
</div>